<html>
     <head> 
	      <link rel="stylesheet" href="{{url_for('static',filename='_css/style.css')}}" /> 
	 </head>
	 <style>
	 </style>
	 <body>
	    <center> <h1> Procedimentos para consultas odontológicas </h1> </center>
         
		 <h2> Dados Gerais (Ficha): </h2>
		 <p> Nome: </p>
		 <p> Data de Nascimento: </p>
		 <p> Endereço: </p>
		 <p> Telefone: </p>
		 <p> CPF: </p>
		 <p> RG: </p>
		 <p> CEP:</p>
		 <P> Email: </p>
       
	   
	    <h2> Exame Clínico : </h2> 
		<p> O exame clínico divide-se em : </p>
              <p> I - Anamnese ou exame subjetivo. </p>
              <p> II - Exame físico ou exame objetivo.  </p>
			  
			<p>  I - Anamnese ou exame subjetivo : </p>
                <p> O termo anamnese vem do grego “anamnésis”, que significa recordação, reminiscência e indica tudo o que se refere à manifestação dos sintomas da doença, desde suas manifestações prodrômicas (do início da doença) até o momento do exame. </p>
				
				
		   <p> II - Exame físico ou exame objetivo : </p>
                 <p> Geralmente sucede a anamnese e objetiva a pesquisa de sinais presentes. No exame físico, utiliza-se fundamentalmente os sentidos naturais do profissional na exploração dos sinais.</p> 
		 
		 <h2> Plano de Tratamento (Planejamento) : </h2>
		 
		 <p> A elaboração do plano de tratamento com a antecipação da visualização do resultado final é alcançada pelo planejamento. </p>
         <p> Essa difícil tarefa pressupõe o diagnóstico mais preciso possível, além do conhecimento de todas as alternativas de tratamento e seus prognósticos. Requer ainda a adequação de todas essas variáveis às condições físicas, emocionais e sociais do paciente. </p>
         <p> O plano de tratamento proposto deverá respeitar as condições sistêmicas do paciente, o que está diretamente relacionado com as contraindicações. Estas são facilmente verificadas, pois são claramente definidas na literatura. Os limites de indicação das chamadas contraindicações relativas são interpretados nesta etapa de planejamento e, de certa forma, incluem assumir alguns riscos. </p>
         <p> O tratamento proposto deverá ser tolerado pelas limitações sistêmicas do paciente. Nem sempre o tratamento ideal, ou o mais divulgado na mídia, será o melhor para o seu paciente. </p>
        
		
		<h2> Orçamento : </h2>
		
		<tr>
		     <td> <img class="Orcamento" src="{{url_for('static',filename='_image/FichaOrcamento.jpg')}}"  /> </td>  
		</tr>
		
		<h2> Tratamento (Especialidades) : </h2>
		
		<b> <p> Odontopediatria </b> – O odontopediatra atua na prevenção, manutenção e reabilitação da saúde bucal da criança, educando sobre saúde bucal, fazendo o diagnóstico, a prevenção, o tratamento e controle dos problemas da saúde bucal infantil. Ele pode integrar seus tratamentos com os de outros profissionais da área da saúde, cuidando da cárie dentária, doença periodontal, mal oclusões, malformações congênitas, neoplasias e outras. </p>
		
		<b> <p> Radiologia Odontológica e Imaginologia </b> – Esse especialista aplica a radiologia convencional, digitalizada, tomografia convencional ou computadorizada, ressonância magnética e ultrassonografia, que são exames por imagem, para melhorar o diagnóstico, acompanhamento e documentação de toda a estrutura bucal. </p>
		
		<b> <p> Dentística </b>– o especialista em Dentística Restauradora pode fazer o diagnóstico e prognóstico das doenças dentárias, procedimentos estéticos, educativos e preventivos, tratamento da polpa dentária para devolver sua vitalidade, restauração de dentes que sofreram lesões, além de oferecer coroas individuais e restaurações metálicas fundidas. Seu objetivo, além da estética, é devolver para o paciente a função mastigatória e a reabilitação de dentes comprometidos por cáries, fraturas ou estragados por abrasão e erosão. Entre outros serviços, os profissionais desta especialidade tratam de clareamento dos dentes, uso de resinas diretas, peeling gengival, facetas e restaurações estéticas.</p>
		
		
		<b> <p> Endodontia </b> – o endodontista faz o diagnóstico, prognóstico, tratamento e controle das alterações da polpa e da gengiva. Pode realizar procedimentos que promovam a vitalidade da polpa dentária, cirurgias no tecido e na cavidade pulpares, tratamento dos traumatismos dentários, de canal, entre outros. </p>
		
		<b> <p> Periodontia </b>– O periodontista estuda, diagnostica, previne e trata as doenças gengivais e periodontais, visando à promoção e o restabelecimento de tudo o que dá suporte aos dentes. É ele quem pode tratar a placa bacteriana, gengivite e periodontite e realiza procedimentos, como os implantes e enxertos ósseos. </p>
		
		<b> <p> Prótese Dentária </b>– cuida da recuperação das coroas dentais e da reparação de espaços de extrações. Especialização na confecção de coroas, próteses dentárias fixas, removíveis ou próteses totais e de próteses sobre implantes. Proporciona conforto, estética e saúde pela recolocação dos dentes destruídos ou perdidos e dos tecidos. Ele pode realizar esses tratamentos por meio de próteses fixas, removíveis e prótese sobre implantes. </p>
		
		<b> <p> Ortodontia</b> – corrige o posicionamento dos dentes reestabelecendo a correta articulação entre as arcadas dentais por meio de aparelhos corretivos fixos ou móveis. </p>
		
		<b> <p> Ortopedia Funcional dos Maxilares </b>– É a especialidade que trata a mal oclusão através de recursos terapêuticos que utilizem estímulos funcionais da face, como os aparelhos removíveis. Dessa forma, esse profissional pode tratar a apneia, bruxismo, problemas bucais ou na área maxilo-mandibular que ocasionam dores na face e na cabeça. </p>
		
		<b> <p> Implantodontia </b> – Faz implantes de dentes, com materiais destinados a suportar próteses unitárias, parciais ou removíveis, e prótese totais. Ele pode também fazer diagnóstico das estruturas ósseas dos maxilares, das alterações das mucosas, entre outras competências que envolvem o suporte dos elementos dentários. </p>
		
		<b> <p> Cirurgia e Traumatologia Buco – Maxilo – Facial </b>– diagnostica e o trata as doenças, traumatismos, lesões e anomalias desenvolvidas no aparelho mastigatório e estruturas craniofaciais associadas. O profissional especializado nessa área pode fazer implantes, enxertos, transplantes, biópsias, cirurgias, entre outros. </p>
		
		<b> <p> Prótese Buco – Maxilo – Facial </b> – O cirurgião-dentista especializado nesse tipo pode fazer a reabilitação anatômica, funcional e estética da face, nas regiões do maxilar e da mandíbula, em função de problemas ocasionados por cirurgias, traumatismos ou malformações congênitas ou de distúrbios do desenvolvimento. </p>
		
		<b> <p> Patologia Bucal </b>– Especialista no estudo laboratorial das alterações da cavidade bucal e estruturas para  o diagnóstico final e o prognóstico destas alterações. Também é especializado em Odontologia Forense. </p>
		
		<h3> <a href="/index">Clique aqui</a> para voltar</h3>		
		
          
        
				
			
	 </body>


















</html>